<div class="ph3 bg-grey-1 pv5">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">{{.titolo-contatti}}</h2>

		<!-- <div class="flex"> -->
			{{ range .contatti }}
			<div class="fl w-100 w-33-ns pa2">
				<h4 class="f4 b lh-title mb2 primary">{{.titolo}}</h4>
				<p class="mb0">{{.linea1}}</p>
				<p>{{.linea2}}</p>
			</div>
			{{ end }}
		<!-- </div> -->
		<div class="w-100">
			<iframe class="center" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
				marginwidth="0"
				src="{{.openstreetmap-url}}"
				style="border: 1px solid black">
			</iframe>
		</div>
	</div>
</div>