<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">

			<div class="mw9 center ph3-ns">
				<div class="cf ph2-ns">
					<div class="fl w-100 w-50-ns pa2">
						<h2 class="f2 b lh-title mb2">Vieni a trovarci</h2>
						<p>La nostra rivendita è in </p>
						<p>Via Laurentina km 18.300</p>
						<p>Dal lunedì al venerdì:</p>
						<p>9:00 - 13:00 / 14:00 - 18:00</p>
						<p>Sabato: 9:00 - 13:30</p>
					</div>
					<div class="fl w-100 w-50-ns pa2">
						<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
							src="https://www.openstreetmap.org/export/embed.html?bbox=12.499619722366333%2C41.72298741415451%2C12.518910169601442%2C41.730890522580665&amp;layer=mapnik&amp;marker=41.72694299292841%2C12.509264945983887"
							style="border: 1px solid black"></iframe>
					</div>
				</div>
			</div>
			<!-- <div class="w-40-l ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h2>

				<p>{{.text}}</p>
			</div>

			<div class="w-60-l ph2-l">

			</div> -->
		</div>

	</div>
</div>